VITE_APP_NAME=Octave CRM
VITE_API_BASE_URL=
VITE_PAPERCLIP_URL=http://38.247.188.228:3100
VITE_OLLAMA_URL=http://ollama:11434
VITE_DEFAULT_TENANT=northstar
PUBLIC_APP_URL=http://38.247.188.228:3002
PAPERCLIP_BASE_URL=http://paperclip
OLLAMA_BASE_URL=http://ollama:11434
DEFAULT_OLLAMA_MODEL=llama3.1:8b
DEFAULT_TENANT_ID=northstar
POSTGRES_USER=octave
POSTGRES_PASSWORD=change_me
POSTGRES_DB=octave_crm
CORS_ORIGIN=http://38.247.188.228:3002
